bq {
    max-width: 50%;
    min-width: 600px;
    margin: auto;
    padding: 50px;
    font-size: 140%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
styles,
code,
id {
    display: none;
}
subject {
    font-size: 1.4em;
    font-weight: bold;
}
instruction {
    font-style: italic;
    display: block;
    margin: 0 0 30px 0;
}
response {
    display: grid;
}
label[translate="no"] {
    display: none;
}
label {
    margin: 5px;
    background-color: #cdcdcd;
    padding: 5px;
    max-width: 100%;
}
